.section-add {
  display: flex;
  width: 430px;
  height: 550px;
  border-radius: 18px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 5px solid black;
  width: 430px;
  height: 550px;
  border-radius: 18px;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 10px;
}

input {
  padding: 5px;
  width: 60%;
  height: 20px;
  border: none;
  border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

textarea {
  padding: 5px;
  width: 60%;
  height: 150px;
  border: none;
  border-radius: 5px;
  resize: none;
}

.btn-add {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: 90px;
}
.btn-add-c{
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: 200px;
}



