.app-div {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 430px;
  height: 150px;
  border: 3px solid var(--verde-grisaceo);
  border-bottom: none;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-image: url(../../assets/bakcground.png);
  background-size: cover;
}
.fa-user-plus,
.fa-phone {
  font-size: 23px;
  color: var(--verde-oscuro);
}
h1 {
  color: var(--verde-oscuro);
}
.fa-phone {
  transition: transform 0.3s ease;
}
.fa-phone:hover {
  transform: translate(-2px, -2px);
}

.fa-user-plus {
  transition: transform 0.3s ease;
}

.fa-user-plus:hover {
  transform: translateY(5px);
}
