.section-app {
  width: 435px;
  height: 555px;
  border-radius: 18px;
  background-color: aquamarine;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  width: 430px;
  height: 550px;
  border-radius: 18px;
}

img {
  width: 200px;
  height: 230px;
  display: flex;
}
span {
  position: relative;
  border: 5px solid black;
}
.add-span-app {
  bottom: 350px;
  left: 235px;
}
.contact-span-app {
  bottom: 320px;
  left: 250px;
}

.hidden{
    display: none;
}