.div-filter-input {
  position: absolute;
  bottom: 420px;
}
.input-filter {
  position: relative;
  left: 15px;
  margin-top: 100px;
  padding: 5px;
  width: 350px;
  height: 25px;
  border: 3px solid var(--verde-input);
  border-radius: 5px;
  margin-left: 40px;
  user-select: none;
}
.div-filter-results {
  width: 470px;
  height: auto;
  background-image: url(../../assets/bakcground.png);
  background-size: cover;
  border: 3px solid var(--verde-grisaceo);
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
}
.span-contact{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
.div-span{
  margin-top: 25px;
  width: 400px;
  position: relative;
  right:27px; 
  bottom:25px;
  background-color: var(--background-light);
}
.div-line-filter{
  width: 5px;
  height: 180px;
  border: 1px solid black;
  background-image: linear-gradient(to top, var(--verde-grisaceo), var(--verde-linea));
  position: absolute;
  top: 15px;
  right:412px;
}
ul {
  list-style: none;
  margin: 50px 0 0 30px;
}
p {
  font-size: 13px;
  letter-spacing: 1px;
}
.p-name{
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
}
.name {
  font-weight: 700;
  font-size: 15px;
}
.fa-search {
  font-size: 15px;
  position: relative;
  right: 30px;
}
.fa-user, .fa-mobile, .fa-envelope, .fa-pen-fancy{
  font-size: 15px;
  color: var(--verde-oscuro);

}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
  .div-filter-input{
    bottom: 330px;
  }
}

@media screen and (min-width:576px) and (max-width: 768px) {
  .div-filter-input {
    bottom: 320px;
  }
}


@media screen and (min-width:768px) and (max-width: 992px) {
  .div-filter-input {
    bottom:0;
    top:30px;
  }
}


