@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  background-image: linear-gradient(to bottom right,var(--verde-linea),var(--verde-grisaceo));
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  --verde-delete: #92be24;
  --verde-linea: #719818;
  --verde-input: #567417;
  --verde-militar: #455c18;
  --verde-grisaceo: #3c4e19;
  --background-light: #fbfaeb;
  --verde-oscuro: #1e2b08;
  
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}