.section-list{
    width: 470px;
    height: auto;
    background-color: var(--background-light);
    border: 3px solid var(--verde-grisaceo);
    border-bottom: none;
    display: flex;
    flex-direction: column;
}
.div-list-two{
    margin-top: 25px;
    width: 400px;
    position: relative;
    right:27px; 
    bottom:25px;
}
.span-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    border-bottom: 1px solid black;
  }
.fa-trash{
    font-size: 25px;
    color: var(--verde-delete);
    position: relative;
    right: 25px;
    top: 0px;
}
.fa-trash {
    transition: transform 0.3s ease; 
  }
  .fa-trash:hover {
    transform: translateX(-5px); 
  }
  .fa-trash:hover:hover {
    transform: translateX(10px); 
  }
  .div-line-list{
    width: 5px;
    height: 180px;
    border: 1px solid black;
    background-image: linear-gradient(to top, var(--verde-grisaceo), var(--verde-linea));
    position: absolute;
    top: 55px;
    right:412px;
  }
